@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

@import "src/bower_components/hint.css/src/hint.scss";
@import "src/bower_components/bootstrap/scss/bootstrap-flex.scss";
@import "src/bower_components/font-awesome/scss/font-awesome.scss";
@import "src/sass/_mixins.scss";

$base-color: #1B83CD;
$base-color-darker: #1C7ABD;
$base-color-darker-2: #1A6BA5;
$base-unit: 30px;

$gray-1: #F1F1F1;
$gray-2: #989898;
$gray-3: #707070;

html {
	overflow-x: hidden;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

    font-size: 20px;
}
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

header {
    > div {
        @include make-container();
        @media (min-width: 768px) {  
            width: 720px;
        }
        @media (min-width: 992px) {  
            width: 940px;
        }
        @media (min-width: 1200px) {  
            width: 1140px;
        }
    }

    padding: 30px;

    background: $base-color;
    background: -moz-linear-gradient(-45deg, $base-color 0%, $base-color-darker 39%, $base-color-darker-2 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, $base-color), color-stop(39%, $base-color-darker), color-stop(100%, $base-color-darker-2));
    background: -webkit-linear-gradient(-45deg, $base-color 0%, $base-color-darker 39%, $base-color-darker-2 100%);
    background: -o-linear-gradient(-45deg, $base-color 0%, $base-color-darker 39%, $base-color-darker-2 100%);
    background: -ms-linear-gradient(-45deg, $base-color 0%, $base-color-darker 39%, $base-color-darker-2 100%);
    background: linear-gradient(135deg, $base-color 0%, $base-color-darker 39%, $base-color-darker-2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$base-color', endColorstr='$base-color-darker-2', GradientType=1 );
    
    color: white;

    h1 {
        text-transform: uppercase;
    }

    img {
        width: 4*$base-unit;

        margin: 0 $base-unit 0 0;
    }
    .header-text {
        padding-top: 35px;
    }


    @media (max-width: 690px) {
        img {
            width: 7*$base-unit;
            margin: 0;
        }
        .header-image {
            margin: 0 auto;
        }
        .header-text {
            margin: 0 auto;
            text-align: center;
            padding-top: 20px;
        }
    }

    h2 {
        font-size: 26px;
        text-transform: uppercase;

        margin-top: 10px;
        margin-bottom: 10px;
    }
}

footer {
    margin-top: 2*$base-unit;

    padding: 30px;

    background-color: $gray-1;
    color: $gray-2;
    
    text-shadow: 0px 2px 0px #FFF;
    font-size: 14px;
    text-align: center;

    ul {
        a {
            color: $gray-2;

            &:hover {
                color: $gray-3;
            }
        }
    }
}

ul.list {
    display: inline-block;
    text-align: left;
    li {
        list-style: initial;
    }
}

ol.list {
    display: inline-block;
    text-align: left;
    li {
        margin-bottom: 10px;

        font-weight: bold;

        span {
            font-weight: normal;
        }
    }
}

.class-title, .text {
    text-align: center;
    margin-top: 3*$base-unit;
    margin-bottom: 0;
}
section {
    @include container(1);

    margin-top: 3*$base-unit;
}

.base-class {
    text-align: center;
    background-color: $gray-1;

    padding-top: 3*$base-unit;
    padding-bottom: 2*$base-unit;
}

.class, .image {
    @extend .base-class;

    img {
        width: 50%;
    }

    section {
        margin-top: 0;
        > div {
            @extend .row;

            > div {
                @extend .col-lg-2;
                @extend .col-md-3;
                @extend .col-xs-4;

                margin-bottom: $base-unit;
            }
        }
    }
}

.class-2 {
    @extend .base-class;

    padding-top: 3*$base-unit;
    padding-bottom: 3*$base-unit - 10px;
    
    section {
        margin-top: 0;

        > small {
            margin-top: $base-unit/2;
            display: block;
        }
    }

    ol {
        margin-bottom: 0;
    }
}

.action {
    margin-top: 3*$base-unit;
    text-align: center;

    button {
        @extend .btn;

        background-color: $base-color;
        color: white;
        font-weight: bold;
        font-size: 20px;
        box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
        @include transition(box-shadow 150ms);

        &:hover {
            background-color: $base-color-darker;
        }

        &:active {
            box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
        }
    }
}

[data-hint]:after {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2), 2px 2px 3px 0 rgba(0, 0, 0, 0.24);
    white-space: normal;
}

.heart {
    width: 60px;
    position: relative;
    top: -5px;
    left: 5px;
}
